package 'cgminer'


config cgminer 'default'
	option pool1pw '123'
	option pool3pw '123'
	option pool2pw '123'
	option chip_frequency '282'
	option miner_count '24'
	option api_allow 'W:127.0.0.1,W:0.0.0.0'
	option more_options '--quiet'
	option target '60'
	option overheat '70'
	option pool1url 'stratum.btcguild.com:3333'
	option pool2url 'stratum.btcguild.com:3333'
	option pool3url 'stratum.btcguild.com:3333'
	option pool1user 'Minerhosting_Bitmain'
	option pool2user 'Minerhosting_Bitmain'
	option pool3user 'Minerhosting_Bitmain'


